/* Saw this while doing exercises found https://github.com/TheOdinProject/css-exercises/blob/main/flex/03-flex-header-2/style.css works to import the font into the sheet  */

@import url(https://fonts.googleapis.com/css?family=Oswald&display=swap);

body {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: black;
    line-height: 1.5;
}

a {
    color: black;
}

/* As this is for the whole document, there isnt a need to give each part with style a class */

h1 {
    font-size: 300%;
}

h2 {
    font-size: 220%;
}

h3 {
    font-size: 180%;
    margin-bottom: 0px;
}

h1, h4 {
    color: #003980;
}

ol {
    list-style-type: lower-roman;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
    margin-left: 30px;
}

/* Indented items is not part of the ordered list, it's a list item that needs to be adjusted */

ol li {
    text-indent: 30px;
}

/* Found at https://www.w3schools.com/cssref/sel_hover.php as I was unsure of the action item for the a tag */

a:hover {
    text-decoration: underline dotted;
    color: #003980;
}

.header-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    justify-items: center;
}

.item1 {
    width: 25%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item3 {
    width: 25%;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    padding-right: 120px;
}

.item2, .item4 {
    width: 50%;
    margin-top: 0px; 
    text-align: center; 
    font-family: Oswald, Arial, sans-serif; 
}

/*Previous had border-top: 1px black, wondering why the line wouldn't appear, didn't justify the style which was my error*/

footer {
    margin-top: 50px;
    border-top: 1px solid black ;
}

footer h3 h4 p a {
    margin-bottom: 0px;
}

footer h3 h4 a {
    font-size: 80%;
}

footer p {
    font-size: 70%;
}

#Popular {
    text-align: center;
}

/*Flexbox and alignment found https://www.theodinproject.com/lessons/foundations-alignment*/

.footer-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.image {
    text-align: center;
}

.image a {
    display: block;
}

.main {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid black;
}

.main h3 {
    font-style: italic;
    color: #003980;
}

.main p {
    margin-top: 0px;
}

.info-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px; 
    column-width: 50%;
}

.info-grid a {
    color: black;
}

/* Adding style of all children of element https://stackoverflow.com/questions/26349987/how-do-i-apply-a-style-to-all-children-of-an-element */

.info-grid > div {
    background-color: #cae7d0;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 15px;
    height: 130px;
    overflow-y: auto;
}